{% extends "base.html" %}

{% load static %}
{% block content %}

{% include 'alerts.html' %}
<!-- Main Section Start -->
<div class="main-section">
   {% include "cover.html" %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="user-account-nav user-account-sidebar">
                        {% include "v_sidebar.html" %}
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            
                            <h2>Build your food menu</h2>
                            <hr>
                                <h5>Category: <span class="text-success">{{category}}</span></h5>


                                {% if fooditems %} <!--if there is food items-->
                                <table class="table">
                                    <tbody>
                                    {% for i in fooditems %}
                                        
                                    <tr>
                                        <th>{{forloop.counter}}</th>
                                        <td> <img src="{{i.image.url}}" width="40" alt=""></td>
                                        <td>
                                            <a href=""><p class="mb-0"><b>{{i.food_title}}</b></p></a>
                                            <small class="text-muted">{{i.description}}</small>
                                        </td>
                                        <td><a href="{% url 'edit_food' i.id %}"><i class="fa fa-pencil" style="margin-right: 20px;"></i></a>
                                          <a href="{% url 'delete_food' i.id %}" onclick="return confirm('Are you sure you want to delete {{i.food_title}}' )"><i class="fa fa-trash text-danger"></i></a>
                                        </td>
                                    </tr>

                                    {% endfor %}
        
                                    </tbody>
                                </table>
                                
                                {%else%}
                                <div class="mt-5">
                                    <h5 class="text-center">No food items found</h5>
                                    <div class="text-center">
                                        <a href="" class="btn btn-success"><i class="fa fa-plus"></i> Add Food</a>
                                    </div>
                                </div>
                                {%endif%}
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->



{% endblock %}