{% extends "base.html" %}

{% load static %}
{% block content %}

<!-- Main Section Start -->
<div class="main-section">
   {% include "cover.html" %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="user-account-nav user-account-sidebar">
                        {% include "v_sidebar.html" %}
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            
                            <h2>Build your food menu</h2>
                            <hr>
                            <table class="table">
                                <h5>Menu Categories</h5>
                                <a href="{% url 'add_food' %}" class="btn btn-success float-right m-1" >Add Food</a>
                                <a href="{% url 'add_category' %}" class="btn btn-info float-right m-1" >Add Category</a>
                                <tbody>
                                {% for i in categories %}
                                    
                                  <tr>
                                    <th>{{forloop.counter}}</th>
                                    <td>
                                        <a href="{% url 'fooditems_by_category' i.id %}"><p class="mb-0"><b>{{i.category_name}}</b></p></a>
                                        <small class="text-muted">{{i.description}}</small>
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_category' i.id %}"><i class="fa fa-pencil" style="margin-right: 20px;"></i></a>
                                        <a href="{% url 'delete_category' i.id %}" onclick="return confirm('Are you sure you want to delete {{i.category_name}}?')" ><i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                  </tr>

                                {% endfor %}
    
                                </tbody>
                              </table>
                                        {% include 'alerts.html' %}
                       
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->



{% endblock %}